<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725325676505-sqsfcobgophf134ck8e8mh03gpnvl5i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725325676505-sqsfcobgophf134ck8e8mh03gpnvl5i1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725325676505-ufath8i9j6nj93p9c4nnntl3vbrf69pn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGX2zmg16QBod_pW3gXYIg2pNOksYzXhE</string>
	<key>GCM_SENDER_ID</key>
	<string>725325676505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizconnect.bizconnect</string>
	<key>PROJECT_ID</key>
	<string>bizzer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bizzer-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725325676505:ios:73b76eec5d901c1f9063c8</string>
	<key>DATABASE_URL</key>
	<string>https://bizzer-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>